---
layout: default
---

{% assign cat_data = nil %}
{% for cat in site.data.navigation.categories %}
  {% if cat.slug == page.category_slug %}
    {% assign cat_data = cat %}
  {% endif %}
{% endfor %}

<div class="category-section">
  <div class="subcategory-header">
    <nav class="breadcrumb">
      <a href="{{ '/' | relative_url }}">History Listory</a>
      &rsaquo;
      <a href="{{ '/categories/' | append: cat_data.slug | append: '/' | relative_url }}">{{ cat_data.name }}</a>
      &rsaquo;
      <span>{{ page.title }}</span>
    </nav>

    <h2>{{ page.title }}</h2>
  </div>

  {{ content }}
</div>
